.header {
	height: 100vh;
	background-image: -webkit-linear-gradient(
		to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	  url(../img/hero-small.jpg);
	background-image: -o-linear-gradient(
		to right,rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	  url(../img/hero-small.jpg);
	background-image: linear-gradient(
		to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	  url(../img/hero-small.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top;
	position: relative;

	// Support for Safari bro
	@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		-o-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	}

	@media (min-resolution: 192dpi/*High resolution of the Apple retina screen(2x)*/) and (min-width: 37.5em),
				 (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),// Logic support for Safari 
				 (min-width: 125em) {
		background-image: -webkit-linear-gradient(
		  to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	    url(../img/hero.jpg);
		background-image: -o-linear-gradient(
		  to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	    url(../img/hero.jpg);
		background-image: linear-gradient(
		  to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), 
	    url(../img/hero.jpg);
	}

	@include responsive(phone) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		-o-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}
	
	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__heading-box {
		position: absolute;
		top: 42%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;

		@include responsive(tablet-port) {
			top: 45%;
		}
		@include responsive(phone) {
			top: 48%;
			width: 100%; // Fixed left side (not disappear)
		}
	}
}